

#background {
    display: flex;
    background-color: black;
    width: 100%;
    height: 1000px;
}

.image {
    border: black 2px solid;
    width: 25%;
    height: 25%;
}

#drag1 {
    position: absolute;
    left: 20px;
    top: 150px;
}